* text=auto
*.lock text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
THIRD_PARTY_NOTICES text eol=lf
py.typed text eol=lf

/AGENTS.md export-ignore
/.github export-ignore
/.gitignore export-ignore
/.pre-commit-config.yaml export-ignore
